<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    <header>
       <nav class="nav-header">
            <img src="{{url_for('static', filename='imgs/logo.jpg')}}"/>
            <p>HOME</p>
            <p>FEEDBACK</p>
            <p>CARDAPIO</p>
            <p>RECEITAS</p>
            <p>CONTATOS</p>
            <img src="{{url_for('static', filename='imgs/PESSOA.png')}}"/>
        </nav>
        <hr>
    </header>

    <!-- AQUI fica a área que muda -->
    {% block conteudo %}
    {% endblock %}

    <footer>
        <div>
            <p>Inicio</p>
            <p> Sobre nós </p>
            <p>Ajuda</p>
            <p>© 2025 Nutrif.</p>
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}"/>
        </div>
    </footer>

</body>
</html>
