<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav-header">
            <img src="{{ url_for('static', filename='imgs/logo.jpg') }}"/>
        </nav>

<hr>
        <main>
            <div> <h1>Cadastro</h1></div>
            <form action="" method="post">

                <P>Sou aluno</P>
                 <input type="checkbox" name="opç1" value="sim"> 
                  <P>Sou servidor</P>
                <input type="checkbox" name="opç2" value="sim"> 
               
                <div class="botoes-conteudo">
                <button>Enviar</button>


                </div>
        </main>
        <img src="{{ url_for('static', filename='imgs/salada.png') }}"/>


    </header>
    <footer>
        <div>
            <p>Inicio</p>
            <p> Sobre nós </p>
            <p>Ajuda</p>
            <p>© 2025 Nutrif</p>
             <img src="{{ url_for('static', filename='imgs/logo.jpg') }}"/>
        </div>
    </footer>

</body>
</html>

