<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    
    {%extends "base2.html"%}

    {%block conteudo%}  

        <main>
            <div>
                <h1>Cadastro</h1>
                <form action="" method="post">
                    <label>Sou aluno</label>
                    <input type="checkbox" name="opç1" value="sim"> 
                    <label>Sou servidor</label>
                    <input type="checkbox" name="opç2" value="sim"> 
                    <button>Enviar</button>
                </form>
            </div>

        </main>

    {%endblock%}
</body>
</html>        


