<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>página inicial</title>
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-header">
            <img src="{{url_for('static', filename='imgs/logo.jpg')}}">
            <div class="botoes-header">
                <div><p>Login</p></div>
                <div><p>Cadastre-se</p></div>
            </div>
        </nav>
    </header>

    <main>
        
    </main>
    <footer></footer>

</body>
</html>