{%extends "base.html"%}

{%block extra_css%}
   <link href="{{url_for('static', filename='css/perfilusuario.css')}}" rel="stylesheet">
{%endblock%}

{%block conteudo%}

<main>

    <h1>Perfil do usuario</h1>
    <div>
      <img src="{{url_for('static', filename='imgs/PESSOA.png')}}"/>
      #por na rota para acessar o nome,matricula e auxilio de cada usuario diferentes
      <p>{{nome do usuario}}</p>
      <p>matricula: {{20231041110029}}</p>
      <p>cadastrado em auxilio? {{SIM}}</p>
    </div>

    <div>
      <h2>restrições/h2>
    </div>
   
    <div>
      <h2>feedbacks</h2>
    </div>

</main>

{%endblock%}
 
 
 
 
